.banner{
	background-image: linear-gradient(-225deg, rgba(194, 170, 189, 0.30) 0%, rgba(85, 63, 80, 0.40) 60%), url(../../images/background.jpg);
	color: #C2AABD;
	padding: 150px 0px;
	background-size: cover;
	background-position: center;
} 

.banner h1 {
	font-size: 70px;
}

.banner h2 {
	font-size: 40px;
	color: white;
	font-weight: lighter
	opacity : 1;
	margin-bottom: 40px; 
}
 